.btn-2{    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.btn-2:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.btn-1{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.btn-1:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}


.bg-1{
    -fx-background-color: #F5FFF5;
}

.header{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
    -fx-border-color: #fff;
    -fx-border-width: 0 0 .8px 0;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.nav-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.logout{
    -fx-background-color: #106abf;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-background-radius: 50px;
}
.logout:hover{
    -fx-background-color: #a71931;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.transparent{
    -fx-background-color: transparent;
}

.table-view{
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right, #0f6789, #286155);
    -fx-border-width: 3px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}

.btn{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861); 
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f); 
}

.headerTexts{
    
}


.vistasInicio{
    -fx-border-color: white;
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
}

.combo-box .list-cell {
  -fx-text-fill: black;
  -fx-background-color : transparent; 
  -fx-border-width: 0.5px;
  -fx-border-color: white;
}

/* combo-box list view text, not hovered or focused */
.combo-box .list-view .list-cell {
  -fx-text-fill: black;
  -fx-background-color : transparent; 
  -fx-border-width: 0.5px;
  -fx-border-color: white;
}

/* combo-box selected text */
.combo-box .list-view .list-cell:focused {
  -fx-background-color : linear-gradient(to bottom right, #0f6789, #286155);  /* Cadet Blue */
  -fx-text-fill: white;
  -fx-border-width: 1px;
  -fx-border-color: white;
}

/* combo-box hover text */
.combo-box .list-view .list-cell:hover {
  -fx-background-color : linear-gradient(to bottom right, #0f6789, #286155);  /* Cadet Blue */
  -fx-text-fill: white;
  -fx-border-width: 1px;
  -fx-border-color: white;
}

.text-area {
    -fx-text-fill: #fff;
    -fx-border-color: white;
    -fx-border-width: .05px;
}

.text-area:hover {
    -fx-border-width: .5px;
}

.text-area *.content {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}